* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    &:active {
        text-decoration: none;
        color: map-get($map: $colores, $key: 'd1');
    }
}

body {
    background-color: map-get($map: $colores, $key: 'l2');
}

.padding__5 {
    padding: 5px;
}

.box__shadow {
    box-shadow: $boxShadow;
}

h3,
p {
    margin-bottom: 0 !important;
}

.titulo__contenedor {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/aerearectangular.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @media (min-width: 768px) {
        height: 90vh;
    }

    @media (min-width: 1920px) {
        height: 50vh;
    }
}

.lista__disco {
    list-style: disc;
    list-style-position: inside;
    color: map-get($map: $colores, $key: 'b');
    padding-left: 10px;
}

.btn__orig {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px map-get($map: $colores, $key: 'gs');
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($map: $colores, $key: 'd1');
    

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .img__article {
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;
        @media (min-width: 768px) {
            width: 50vw;
        }

        @media (min-width: 1024px) {
            width: 50%;
        }
    }
}

.btn-green {
    @extend .btn__orig;
    border: none;
    background-color: rgb(71, 202, 73);
    border: none;
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'w'), center);
    margin: 0 10px;

    @media (min-width: 768px) {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }

    @media (min-width: 1024px) {
        width: 100px;
        height: 40px;
        font-size: 1.2rem;

    }

    &:hover {
        background-color: rgb(50, 168, 52);
        cursor: pointer;
    }

    &:active {
        background-color: rgb(31, 119, 32);
    }
}

.btn-grey {
    @extend .btn__orig;
    background-color: rgb(172, 172, 172);
    border: none;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'w'), center);

    @media (min-width: 768px) {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }

    @media (min-width: 1024px) {
        width: 100px;
        height: 40px;
        font-size: 1.2rem;

    }

    &:hover {
        background-color: rgb(151, 151, 151);
        cursor: pointer;
    }

    &:active {
        background-color: rgb(87, 87, 87);
    }
}

.error404 {
    background-color: map-get($map: $colores, $key: 'l1');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .text__roboto--black {
        text-align: center;
    }

    .img404 {
        margin-top: 30vh;
        box-shadow: $boxShadow;
        max-width: 95vw;
        border-radius: 5px;
    }
}