@mixin texto ($family, $size, $color, $align: "") {
    font-family: $family;
    font-size: $size;
    color: $color;

    @if $align=="" {

        text-align: left;
    }

    @else {
        text-align: $align;
    }
};