.h1__bebas--white {
    animation: appear;
    animation-duration: 1.2s;
    text-shadow: 2px 2px 5px map-get($map: $colores, $key: 'g');
    @include texto($h1Font, 3rem, map-get($map: $colores, $key: 'w'), center);

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width: 1024px) {
        font-size: 4rem;
    }
}

.h2__rad {
    @include texto ($h2Font, 1.2rem, map-get($map: $colores, $key: 'd1'), center);
    box-shadow: $boxShadowBottom;
    width: 80vw;
    padding: 5px;
    display: block;
    font-weight: $textBold;

    @media (min-width: 768px) {
        font-size: 1.3rem;
    }

    @media (min-width: 1024px) {
        font-size: 1.4rem;
        width: max-content;
    }
}

.h2__rad--w {
    @include texto($h2Font, 1.2rem, map-get($map: $colores, $key: 'd1'), center);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: map-get($map: $colores, $key: 'h2');
    box-shadow: $boxShadow;
    width: 100%;
    padding: 5px 0;
    display: block;
    font-weight: $textBold;

    @media (min-width: 768px) {
        font-size: 1.3rem;
        width: 30vw;
    }

    @media (min-width: 1024px) {
        font-size: 1.4rem;
        width: 20vw;
    }
}

.h3__roboto--background {
    @include texto($mainFont, 1.2rem, map-get($map: $colores, $key: 'l1'), center);
    font-weight: $textRegular;
    padding: 5px;
}

.h3__roboto--menor {
    @include texto($mainFont, 0.8rem, map-get($map: $colores, $key: 'l1'), center);
    font-weight: $textRegular;
    background-color: map-get($map: $colores, $key: 'd1');
    padding: 5px;
    width: 25%;

    @media (min-width: 1024px) {
        font-size: 1.05rem;
    }
}

.text__roboto--background {
    @include texto($mainFont, 1.1rem, map-get($map: $colores, $key: 'w'), center);
    max-width: 90vw;
    margin-top: 5px;
    padding: 0 5px;
    background-color: map-get($map: $colores, $key: 'h2back');
    border-radius: 10px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

    @media (min-width: 768px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1024px) {
        font-size: 1.2rem;
        max-width: 1024px;
    }

}

.text__roboto--white {
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'w'), center);

    @media (min-width: 768px) {
        font-size: 1rem;
    }

    @media (min-width: 1024px) {
        font-size: 1.2rem;
    }
}

.title__article {
    @include texto($mainFont, 1.2rem, map-get($map: $colores, $key: 'l2'), center);
    border-bottom: 1px solid map-get($map: $colores, $key: 'gl');
    padding: 0.3rem;
   
    @media (min-width: 1024px) {
        font-size: 1.2rem;
    }
}

.title__promo {
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'd1'), );
    border-bottom: 1px solid map-get($map: $colores, $key: 'd1');
    padding: 5px;
}

.text__roboto--article {
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'l1'), );
    padding: 5px 5px 5px 20px;
    list-style: none;
    line-height: 1.2em;

    @media (min-width: 768px) {
        text-align: right;;
        
    }
}

.text__robo--promo{
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'd1'), );
    padding: 5px;
    list-style: none;
    line-height: 1.2em;
}

.text__article--tips {
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'l2'), center);
    max-width: 90vw;
    margin-top: 5px;
    padding: 0 5px;
    background-color: map-get($map: $colores, $key: 'd1');
    border-radius: 5px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.text__roboto--center {
    @include texto($mainFont, 0.8rem, map-get($map: $colores, $key: 'l2'), center);
    background-color: map-get($map: $colores, $key: 'd2');
    padding: 5px;
    list-style: none;
    width: 25%;

    @media (min-width: 1024px) {
        font-size: 1.05rem;
    }
}

.text__roboto--black {
    @include texto($mainFont, 1rem, map-get($map: $colores, $key: 'b'), );
    padding: 5px;

}

.text__charis {
    @include texto($fontCharis, 1.4rem, map-get($map: $colores, $key: 'd1'), center);
}

.titulo404 {
    @include texto($fontCharis, 2rem, map-get($map: $colores, $key: 'd1'), right);
    text-shadow: 0px 0px 2px map-get($map: $colores, $key: 'gs');
    padding: 10px;
}