@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Charis+SIL&family=Rajdhani:wght@400;500&family=Roboto:ital,wght@0,400;1,300&display=swap');

$colorDark1: rgb(39, 102, 120);
$colorDark2: rgb(22, 135, 167);
$colorLigth1: rgb(211, 224, 234);
$colorLigth2: rgb(246, 245, 245);
$backColorH2: rgba(211, 224, 234, .7);
$backColorTextOverImage: rgba(173, 216, 230, 0.7);

$textBold:700;
$textRegular:400;
$textLight:300;

$mainFont: 'Roboto', sans-serif;
$h1Font: 'Bebas Neue', sans-serif;
$h2Font: 'Rajdhani', sans-serif;
$fontCharis: 'Charis SIL', serif;

$boxShadow: 0 0 5px rgb(117, 117, 117);